apiVersion: v1
kind: Namespace
metadata:
  name: kube-prometheus-stack
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: kube-prometheus-stack
spec:
  interval: 24h
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "82.1.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: kube-prometheus-stack
      interval: 12h
  values:
    crds:
      enabled: true
    grafana:
      grafana.ini:
        server:
          domain: grafana.bacherik.de
          root_url: https://grafana.bacherik.de/
        auth.generic_oauth:
          enabled: true
          name: "BachErik's OAuth"
          allow_sign_up: true
          client_id: grafana
          scopes: "openid email profile offline_access roles"
          email_attribute_path: email
          login_attribute_path: username
          name_attribute_path: full_name
          auth_url: "https://auth.bacherik.de/realms/bacherik/protocol/openid-connect/auth"
          token_url: "https://auth.bacherik.de/realms/bacherik/protocol/openid-connect/token"
          api_url: "https://auth.bacherik.de/realms/bacherik/protocol/openid-connect/userinfo"
          role_attribute_path: "contains(resource_access.grafana.roles[*], 'grafanaadmin') && 'GrafanaAdmin' || contains(resource_access.grafana.roles[*], 'admin') && 'Admin' || contains(resource_access.grafana.roles[*], 'editor') && 'Editor' || 'Viewer'"
          allow_assign_grafana_admin: true

      envValueFrom:
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
          secretKeyRef:
            name: grafana-oauth-client
            key: client_secret
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt"
        ingressClassName: traefik
        hosts:
          - grafana.bacherik.de
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.bacherik.de
