apiVersion: v1
kind: Namespace
metadata:
  name: rtmp

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rtmp-server
  namespace: rtmp
  labels:
    app: rtmp-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rtmp-server
  template:
    metadata:
      labels:
        app: rtmp-server
    spec:
      containers:
        - name: rtmp-server
          image: alfg/nginx-rtmp:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 1935
              name: rtmp
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: rtmp-server
  namespace: rtmp
  labels:
    app: rtmp-server
spec:
  type: ClusterIP
  selector:
    app: rtmp-server
  ports:
    - name: rtmp
      port: 1935
      targetPort: 1935
      protocol: TCP
