apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - metrics-server.yaml
  #- local-storage.yaml
  - longhorn/
  - traefik.yaml
  - cf-secret.yaml
  - external-dns.yaml
  - cert-manager.yaml
  - system-upgrade-controller/
  - cnpg-system/
  - databases/