apiVersion: apps/v1
kind: Deployment
metadata:
  name: points
  namespace: points
spec:
  replicas: 3
  selector:
    matchLabels:
      app: points
  template:
    metadata:
      labels:
        app: points
    spec:
      imagePullSecrets:
        - name: ghcr
      containers:
        - name: points
          image: ghcr.io/bacherik/points:latest
          envFrom:
            - secretRef:
                name: points
          ports:
            - containerPort: 80
